<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
  <nav>
    <a href="/<%= user._id %>/recipes/new">Create a Recipe</a>
    <a href="/users"> back to all users</a>
  </nav>
        <main>
          <h1><%= user.name %>'s  Dashboard</h1>
         
         
            <section id="show-page">
            <table>
                <tr>
                    <th>Recipes</th>
                    <th>Updated</th>
               
                <%recipe.forEach(function(r){ %>
              </tr>
              <td><a href="/recipes/<%=r._id%>"><%= r.name%></a></td>
              <td><%= r.updatedAt.toDateString()%></td>
             <td> <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE Recipe</button></td>
              </form>
              <% }); %>
            </table>
          </section>
   
           
      
      
</body>
</html>