<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
  <nav>
    <!-- <a href="/<%= user.id %>/recipes/new">Add a new Recipe</a>
    <a href="/<%= user.id %>/recipes"> back to recipes</a> -->
  </nav>
        <main>
          <h1><%= user.name %>'s  Dashboard</h1>
          <section id="show-page">
            
         
            <section id="show-page"></section>
            <table>
                <tr>
                    <th>Recipes</th>
                    <th>Updated</th>
               
                <% user.recipe.forEach(function(r){ %>
              </tr>
              <td><%= r.name%></td>
              <td><%= r.updatedAt.toLocaleString()%></td>
              <% }); %>
            </table>
          </section>
            <section id="show-page"></section>
            <table>
              <tr>
                <th>Prep List</th>
                <th>Updated</th>
                <% user.preplist.forEach(function(p){ %>
              </tr>
              <td><%= p.name%></td>
              <td><%= p.updatedAt.toLocaleString()%></td>
              <% }); %>
            </table>
          </section>
           
          </section>
      
</body>
</html>